flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio secure_cache files
# files ending in .secure_cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .secure_cache
!*.[Cc]ache/
